@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Contact Form";
    Layout = "Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h2>Simple.CRUD</h2>
        <p>List of Enquiries</p><br/>
    </div>



