@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Contact Form";
    Layout = "Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h3>Simple.CRUD</h3>
    <p>List of Enquiries</p><br/>
</div>

@if (Model != null)
{
    foreach (var row in Model)
     {
         <div class="row">
             <div class="col-md-3">
                 <!-- Call generic read row route passing in tablename => contactlog), row id and view name => enquiry-->
                 <a href="/data/readrow/contactlog/@row.Id/enquiry">@row.Name</a>
             </div>
             <div class="col-md-3">
                 @row.Email 
             </div>
             <div class="col-md-2">
                 @row.Message
             </div>
         </div>
         <hr/>
    }

}
else
{
    <div>No data!</div>
}




