@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Contact Form";
    Layout = "Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-2"><div class="row"></div></div>
    
    <div class="col-lg-6">
        <div class="row">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="row"></div>
    </div>
</div>

